In [1]:
# %%
import pandas as pd

# Load dataset
data = pd.read_csv("students.csv")

# Menampilkan 10 baris pertama
display(data.head(10))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,grade
0,female,group B,bachelor's degree,standard,none,72,72.0,74,8.0
1,female,group C,some college,standard,completed,69,90.0,88,7.0
2,female,group B,master's degree,standard,none,90,95.0,93,7.0
3,male,group A,associate's degree,free/reduced,none,47,57.0,44,8.0
4,male,group C,some college,standard,none,76,78.0,75,8.0
5,female,group B,associate's degree,standard,none,71,83.0,78,7.0
6,female,group B,some college,NaN,completed,88,95.0,92,NaN
7,male,group B,some college,free/reduced,none,40,43.0,39,8.0
8,male,group D,high school,free/reduced,completed,64,64.0,67,NaN
9,female,group B,high school,free/reduced,none,38,60.0,50,9.0

In [2]:
# %%
# Menampilkan informasi dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        975 non-null    object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                976 non-null    float64
 7   writing score                1000 non-null   int64
 8   grade                        985 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

In [3]:
# %%
# Mengecek jumlah missing values
data.isna().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                          25
test preparation course         0
math score                      0
reading score                  24
writing score                   0
grade                          15
dtype: int64

In [4]:
# %%
# Mengisi nilai kosong pada kolom lunch dengan modus
data['lunch'].fillna(data['lunch'].mode()[0], inplace=True)

C:\Users\YAS\AppData\Local\Temp\ipykernel_11600\2921402361.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['lunch'].fillna(data['lunch'].mode()[0], inplace=True)

In [5]:
# %%
# Mengisi nilai kosong pada kolom reading score dengan mean
data['reading score'].fillna(data['reading score'].mean(), inplace=True)

C:\Users\YAS\AppData\Local\Temp\ipykernel_11600\2068732554.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['reading score'].fillna(data['reading score'].mean(), inplace=True)

In [6]:
# %%
# Mengisi nilai kosong pada kolom grade dengan median
data['grade'].fillna(data['grade'].median(), inplace=True)

C:\Users\YAS\AppData\Local\Temp\ipykernel_11600\4022428361.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['grade'].fillna(data['grade'].median(), inplace=True)

In [7]:
# %%
# Memeriksa apakah masih ada missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   float64
 7   writing score                1000 non-null   int64
 8   grade                        1000 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

In [8]:
# %%
# Interpolasi nilai yang hilang menggunakan metode linear
data['grade'] = data['grade'].interpolate(method='linear')

In [9]:
# %%
# Backward fill untuk mengisi missing values
data['grade'].fillna(method='bfill', inplace=True)

C:\Users\YAS\AppData\Local\Temp\ipykernel_11600\1598721183.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['grade'].fillna(method='bfill', inplace=True)
C:\Users\YAS\AppData\Local\Temp\ipykernel_11600\1598721183.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['grade'].fillna(method='bfill', inplace=True)

In [10]:
# %%
# Forward fill untuk mengisi missing values
data['grade'].fillna(method='ffill', inplace=True)

C:\Users\YAS\AppData\Local\Temp\ipykernel_11600\1977707515.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['grade'].fillna(method='ffill', inplace=True)
C:\Users\YAS\AppData\Local\Temp\ipykernel_11600\1977707515.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['grade'].fillna(method='ffill', inplace=True)

In [11]:
# %%
# Menghapus baris dengan missing values
data.dropna(axis=0, inplace=True)

# Menghapus kolom yang lebih dari 50% datanya kosong
data.dropna(axis=1, inplace=True)